#container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

textarea {
  width: 300px;
  height: 200px;
  resize: none;
  overflow: auto;
}

#outputText {
  transform: rotate(180deg);
  user-select: none;
}

footer {
    text-align: center;
    color: #808080; /* 薄い灰色 */
    font-size: 12px; /* 小さな文字サイズ */
    padding: 10px 0;
    margin-top: 20px;
}
